<h1 class="text-2xl">Por Región</h1>
<h3 class="text-lg"></h3>
<!--  -->
<section class="row mt-2">
  <div class="flex-col">
    @for (region of regions; track region) {
    <button
      class="btn btn-outline mr-2 w-[120px]"
      (click)="selectedRegion.set(region)"
      [class.btn-primary]="selectedRegion() === region"
    >
      {{ region }}
    </button>
    }
  </div>
</section>

<country-list
  [countries]="regionResource.value() ?? []"
  [errorMessage]="regionResource.error()"
  [isEmpty]="regionResource.value()?.length === 0"
  [isLoading]="regionResource.isLoading()"
/>
